<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.gmt.modisco.infra.query.registration">
      <modelqueryset file="java.pattern.querySet"/>
   </extension>
   <extension point="org.eclipse.gmt.modisco.infra.facet.registration">
      <facetset file="java.pattern.facetSet"/>
   </extension>
</plugin>
